[submodule "42_exam_rank_02"]
	path = 42_exam_rank_02
	url = git@github.com:ComlanGiovanni/42-Exam-Rank-02.git
[submodule "circle2/push_swap/visualizer"]
	path = circle2/push_swap/visualizer
	url = git@github.com:o-reo/push_swap_visualizer.git
